{% extends "layout.html" %}
{% load static %}

{% block title %}
<title>About Me</title>
{% endblock title %}

{% block main_content%}
<div class="container text-center" style="background-color:#202020; color:white;">
    <img src="{% static 'images/p2.jpg' %}" class="card-img-top" style="border-radius:50%; width: 18rem;" alt="Avatar">
    <div class="col">
        <h5 class="mt-4 fs-2 ">About Me</h5>
        <p class="description mt-4 pb-5 lh-lg">I’m Manisha Basukala, I do a bunch of stuff that helps me in pursuing my passion for artistic creativity.Being an artist <br/>
            isn’t just about putting pencil to paper, or brush to canvas. Art can and does mean so much more than that, to so many <br/>people. Art is a way of seeing the world, a way of expression, oftentimes a compulsion: We simply must create!<br/>
            Since the last seven years I’ve been making Mandala portraits in various dimensions and sizes. Mandala is basically<br/>
            a form of drawing that represents the exemplary beauty of nature. We should learn to see everyday life as mandala - the<br/>
            luminous fringes of experience which radiate spontaneously from the empty nature of our being. The aspects of our<br/>
            mandala are the day-to-day objects of our life experience moving in the dance or play of the universe. Moreover, it is a<br/>
            mediation-al form of art, which soothes both, the maker and the observer.<br/>
            While pursing the passion for Mandalas, I’ve understood the vital role of colors, shape, textures. This realization keeps <br/>
            on improving the vision that I bear toward my passion of contributing towards the great artistic fraternity. Apart from being <br/>
            a Mandala artist, I am doing bachelor in IT under the name Bachelor of Information Technology from the Coventry Universy. <br/>
            Mandala Circle Mandalas wall art and decor are designed for everyone and for every occasion. They are designed with a lot<br/>
            of love and eye to detail. Once ready, they are checked for quality and packed with immense love, gratitude, all ready <br/>
            to be shipped out. I wish my mandala wall arts bring you smiles and happiness!<br/>
            "Live life unconditionally"</p>

    </div>
</div>

{% endblock main_content %}