{% extends 'layout.html' %}

{% load static %}
{% block title %}

<title>Terms and conditions</title>

{% endblock%}

{% block main_content %}
<div class="container text-white mt-5" style="background-color:#202020;">
    <h1 class="text-center pt-4 ">TERMS AND CONDITIONS</h1>
    <p class="mt-5 d-flex justify-content-center pb-4">
        1. Introduction<br/>
    Welcome to Mandalas (“Company”, “we”, “our”, “us”)!<br/>

    These Terms of Service (“Terms”, “Terms of Service”) govern your use of our website located at<br/> www.mandalacircle.com (together or individually “Service”) operated by Mandala Circle.<br/>

    Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard and disclose information<br/> that results from your use of our web pages.<br/>

    Your agreement with us includes these Terms and our Privacy Policy (“Agreements”). <br/>You acknowledge that you have read and understood Agreements, and agree to be bound of them.<br/>

    If you do not agree with (or cannot comply with) Agreements, then you may not use the Service,<br/> but please let us know by emailing at twopointsmandalas10@gmail.com so we can try to find a solution.<br/> These Terms apply to all visitors, users and others who wish to access or use Service.<br/>

    2. Communications<br/>

    By using our Service, you agree to subscribe to newsletters, marketing or promotional materials and <br/>other information we may send. However, you may opt out of receiving any, or all, of these communications<br/> from us by following the unsubscribe link or by emailing at twopointsmandalas10@gmail.com.

    3. Purchases<br/>

    If you wish to purchase any product or service made available through Service (“Purchase”), you may be<br/> asked to supply certain information relevant to your Purchase including but not limited to, your credit or debit card number,<br/> the expiration date of your card, your billing address, and your shipping information.<br/>

    You represent and warrant that: (i) you have the legal right<br/> to use any card(s)or other payment method(s) in connection with any Purchase; and that (ii) the information you supply to us is <br/>true, correct and complete.<br/>

    We may employ the use of third party services for the purpose of facilitating payment and the completion of Purchases.<br/> By submitting your information, you grant us the right to provide the information to these third parties subject to our Privacy Policy.<br/>

    We reserve the right to refuse or cancel your order at any time for reasons including but not limited to: <br/>product or service availability, errors in the description or price of the product or service, error in your order or other reasons.<br/>

    We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal transaction is suspected.

    4. Refunds<br/>

    We issue refunds for Contracts within 15 days of the original purchase of the Contract.<br/>

    5. Content<br/>
            Content found on or through this Service are the property of Two Points Mandalas or used with permission. You may not distribute,<br/> modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain,<br/> without express advance written permission from us.<br/>
    </p>
</div>
{% endblock main_content%}