<div class="footer p-5 mt-4">
    <div class="container-fluid  text-white">
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <h2>SHOP</h2>
                <ul class="list-unstyled">
                    <li><a href = "/mandala_circle/aboutMe">About</a></li>
                    <li><a href = "/mandala_circle/refundPolicy">Refund Policy</a></li>
                    <li><a href = "/mandala_circle/privacyPolicy">Privacy Policy</a></li>
                    <li><a href = "/mandala_circle/termCondition">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>CONTACT</h2>
                <ul class="list-unstyled">
                    <p>To know more about our<br/> products and services<br/><a href="mailto:mandalacircle@gmail.com" style="color:white">mandalacircle@gmail.com</a></p>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>LEARN</h2>
                <ul class="list-unstyled">
                    <li><a href="/mandala_circle/learnMandala">Basic Mandala Patterns and Workshop 2021</a>
                    </li>
                </ul>
            </div>
            <div class="line text-center mt-3"><br/>
                <p>© 2021,Mandala Circle|All Rights Reserved</p>
            </div>
            <div class="media text-center">
                <a href="https://www.facebook.com/The__Arts27-105442817998817" style="color:white;"><i class="fa fa-facebook " aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/the__arts27/" style="color:white;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/" style="color:white;"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
