{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
<title>Change Password</title>
{% endblock%}

{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center text-light" style="margin-top:100px;">Password Reset Sent</h2>
            <hr style="color:white;">
            <div class="card py-2 px-2 mt-5" style="background-color:#202020;">
                <h4 class="text-center text-white" >We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h4>

                <h4 class="text-center text-white" >If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder</h4>

            </div>
        </div>
    </div>
</div><br/><br/>

{% endblock main_content%}